{% extends "base.html"%} {% block head%}
<title>Our Services</title>
{% endblock%} {% block body%}
<div class="service">
  <h2>Welcome To our Services</h2>
  <p>
    We are company that provides Client-focused, customer-centric, creating
    website solutions that deliver tangible business results, Appnovation's web
    developers helps brands the ever-changing digital landscape.
  </p>
  <h3>Some of the services we provide include:</h3>
  <ul>
    <li>Drupal Web Development</li>
    <li>Responsive Web Development.</li>
    <li>Contentful Web Development.</li>
    <li>Graphical Design</li>
    <li>Blog / News Management</li>
    <li>Ecommerce Applications</li>
  </ul>
</div>

{% endblock%}
