body{
  margin:0;
  padding:0;
  font-family:sans-serif;
}
h1{
  color: red;
}
p{
  color:blue;
}
/* styling contact file */
.contact{
  text-align: center;
  padding-top: 70px;
}
/* styling about file */
.about{
  text-align: center;
  padding: 60px;
}
.about P{
  padding: 0 100px;
  font-size: 26px;
}
/* styling service file*/
.service{
  text-align: center;
  padding: 50px;
}
.service ul li{
  list-style-type: none;
  color: red;
  font-size: 20px;
}
.service p{
  padding: 0 100px;
}
/* styling index file */
.index{
  text-align: center;
}
.index ul li{
  list-style-type: none;
  font-size: 20px;

}
.index p{
  font-size:20px;
  color: rgb(130, 8, 243);
}
/*  styling the base file */
.base{
  text-align: center;
  padding: 50px;
}
.base p{
  color: green;
}
.base h1{
  color: rgb(2, 53, 53);
}