{% extends 'base.html' %}

{% block body %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad nostrum, architecto accusamus, doloribus ea hic voluptatibus quisquam autem excepturi corporis similique quibusdam amet consequuntur laboriosam, animi temporibus aut magni qui!</p>
    <img src="https://images.unsplash.com/photo-1643208590063-1a3e5b4bf115?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80" style="height: 500px; width: 100%;">
    
</body>
</html>


{% endblock body %}