{% extends 'base.html' %}

{% block body %}
<h4>~~INTERESTING FACTS ABOUT FLASK ~~</h4>
<p>Major advantages of <span style="color: violet;">Flask</span></p>
<ul>
   <li>Ease of setup and use.</li>
    <li>Freedom to build the structure of the web application.</li>
    
   <li>higher flexibility.</li> 
   <li>higher compatibility with latest technologies.</li>
   <li>high scalability for simple web applications.</li>
   <li>technical experimentation.</li>
   <li>slightly higher framework performance.</li>

</ul>
{% endblock body %}