.h1
    {color: chartreuse;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.p {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}