{% extends 'base.html' %}

{% block body %}
<div class="container">
    <h2 class="text-center" id="hd"> About Ameliorate Spa</h2>
    <div class="row">
        <div class="col-md-6 text-center " id="tx">
            
            <p>Ameliorate Spa was formally incorporated in 1990.</p>
            <p>It was conceptualized by two founders who are the main directors.</p>
            <p>We pride ourselves as the best spa in Nairobi and this is supported by our numerous recognitions and awards.</p> 
            <p>We are committed to provide our clients with the best services. Our team of highly qualified and trained specialists dedicated to give you an equisite experience will keep you coming for more</p>
            <p>Visit us for and equisite and top notch experience.</p> 
            <p>We hope you will have an experience of a lifetime!</p>
        </div>
        <div class="col-md-6">
            <br>
            <img src="../static/massage.jpg" alt="cover image" width="100%vw" height="500px">
        </div>
    </div>
</div>
<a href="/services" class="text-center">Services</a>
{% endblock body %}