{% extends 'main.html' %} {% block body %}
<div class="container abt">
  <h1 class="abouth1">Debunk Media</h1>
  <br />
  <br />
  <br />
  <h4 class="abth4">
    <span class="are">We at Debunk Media are:</span>
    <br />
    Making sense of the world The world is a complex and evolving place; but often
    that is available to young African audiences fails to explain why and how
    things affect their daily life. We at Debunk Media want to change that. And
    so, we've brought together journalists, data scientists, filmmakers,
    illustrators and animators to try and make sense of the world through the art
    of storytelling…Oh btw; there's even a doctor on the team. Debunk Media was
    launched in July 2020.
  </h4>
  <br />
  <br />
  <p class="abtp">
    "Every society deserves good stories, stories which we use to Make Sense of the
    lofty, the mundane, and everything in-between and at Debunk Media we are the
    cocktail at the bar. A mix of everything to get you well informed!""
  </p>
</div>
{% endblock body %}
