{% extends 'main.html' %} {% block body %}
<div class="container">
    <h1>Johhny Deep vs Amber Heard</h1>
    <h4 class="pb-5">
      This is the summary the case of defamation between Johny Deep and Amber Heard
    </h4>
    <p class="p-2">
      The defamation trial in Virginia between the actors Johnny Depp and Amber
      Heard has become a fierce battleground over the truth about their
      relationship, with both sides accusing the other of repeated domestic abuse in
      what was an unquestionably tumultuous marriage.
    </p>
    <p class="p-2">
      Before a seven-person jury in Fairfax County Circuit Court, lawyers have
      questioned witnesses about the events of what has been described as a
      whirlwind romance that started on a movie set and soured into a barrage of
      fights and physical confrontations — the details of which vary widely
      depending on the account.
    </p>
    <p class="p-2">
      Mr. Depp, 58, sued Ms. Heard, 35, for defamation after she wrote an op-ed for
      The Washington Post referring to herself as a “public figure representing
      domestic abuse.” After more than a year of legal sparring, Ms. Heard then
      countersued Mr. Depp, alleging that he defamed her when his former lawyer
      released statements saying her allegations of abuse were a hoax.
    </p>
    <p class="p-2">
      Many of the allegations being aired in the courtroom have already been heard
      in a British case — which Mr. Depp lost — in which the actor sued The Sun
      newspaper for printing a headline that called him a “wife beater.”
    </p>
    <div class="img-fluid">
        <img src="https://qph.fs.quoracdn.net/main-qimg-5ec631fa5e4be8779b61e94e1514017d-lq">
    </div>
</div>

{% endblock body %}
