<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chukua Grocery</title>
  </head>
  <body>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, aperiam quas
    a dignissimos temporibus aliquid nam? Ipsam, ullam necessitatibus. Harum
    deserunt pariatur suscipit ullam qui quibusdam placeat molestiae maxime
    tempore? Aperiam fugiat dolores ipsum, similique ex laudantium assumenda
    nobis incidunt dolorum? Vel qui necessitatibus ab repudiandae non numquam,
    labore velit.
  </body>
</html>
