<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    {%if title %}
        <title>{{ title }}</title>
    {%else %}
        <title>Chukua Grocery</title>
    {%endif%}
</head>
<body>
    <section class="container">
    <div>
        <h1 class="title is-info">
            Chukua grocery stores
        </h1>
        <h3 class="subtitle m-4">
            Your Orders
        </h3>
    </div>
    <table class="table is-center m-4">
        <thead>
          <tr>
            <th title="Position">Date</th>
            <th >order no</th>
            <th title="Played">Item</th>
            <th title="Won">Quantity</th>   
            <th title="Won">price</th>
            <th title="Won">Total Price</th>       
        </tr>
            <tr>
                <td>1/4/22</td>
                <td>34567801</td>
                <td>Beetroot</td>
                <td> $ 9</td>
                <td>$ 10</td>
                <td>$ 90</td>
            </tr>
            <tr>
                <td>1/4/22</td>
                <td>34567801</td>
                <td>Beetroot</td>
                <td> $ 9</td>
                <td>$ 10</td>
                <td>$ 90</td>
            </tr>
            <tr>
                <td>1/4/22</td>
                <td>34567801</td>
                <td>Beetroot</td>
                <td> $ 9</td>
                <td>$ 10</td>
                <td>$ 90</td>
            </tr>
            <tr>
                <td>1/4/22</td>
                <td>34567801</td>
                <td>Beetroot</td>
                <td> $ 9</td>
                <td>$ 10</td>
                <td>$ 90</td>
            </tr>
            <tr>
                <td>1/4/22</td>
                <td>34567801</td>
                <td>Beetroot</td>
                <td> $ 9</td>
                <td>$ 10</td>
                <td>$ 90</td>
            </tr>
            
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>Total: </td>
                <td>$ 450</td>
            </tr>
        </tbody>
      </table>
    </section>
</body>

<style>
    h1 {
        color: rgb(50, 105, 207);
        margin: 4rem auto;
        text-align: center;
    }
    .container{
        text-align: center;
    }
</style>