<head>
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
    crossorigin="anonymous"
  />
  {%if title %}
  <title>{{ title }}</title>
  {%else %}
  <title>Chukua Grocery</title>
  {%endif%}
</head>
<body>
  <div>
    <h1>Our Products</h1>
  </div>
  <div id="products">
    <div class="row m-4">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Capsicum</h5>
            <p class="card-text">
              <img
                class="img-fluid"
                src="https://i.postimg.cc/L5hXf7ff/sydney-rae-t4-XYbj1q-Cc-unsplash.jpg"
                alt=""
              />
            </p>
            <div class="text-center">
              <a href="#" class="btn btn-primary text-center">Checkout</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Capsicum</h5>
            <p class="card-text">
              <img
                class="img-fluid"
                src="https://i.postimg.cc/L5hXf7ff/sydney-rae-t4-XYbj1q-Cc-unsplash.jpg"
                alt=""
              />
            </p>
            <div class="text-center">
              <a href="#" class="btn btn-primary text-center">Checkout</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row m-4">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Capsicum</h5>
            <p class="card-text">
              <img
                class="img-fluid"
                src="https://i.postimg.cc/L5hXf7ff/sydney-rae-t4-XYbj1q-Cc-unsplash.jpg"
                alt=""
              />
            </p>
            <div class="text-center">
              <a href="#" class="btn btn-primary text-center">Checkout</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Capsicum</h5>
            <p class="card-text">
              <img
                class="img-fluid"
                src="https://i.postimg.cc/L5hXf7ff/sydney-rae-t4-XYbj1q-Cc-unsplash.jpg"
                alt=""
              />
            </p>
            <div class="text-center">
              <a href="#" class="btn btn-primary text-center">Checkout</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<style>
  h1 {
    color: rgb(50, 113, 207);
    margin: 4rem auto;
    text-align: center;
  }
  #products {
    width: 70%;
    margin: 0 auto;
  }
  .card {
    margin: 1rem;
    border: none;
  }
</style>
