*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
}
h1{
    color: red;
    padding-bottom: 2px;
}
p{
    font-size: 20px;
}