<link rel ="stylesheet" type="text/css" href="{{url_for('static', filename='styles/products.css')}}">
<h3>Products Available</h3>
<p class ="edit2">
 
    The different products available on the website are:
    <li>Cleansers</li>
    <img src="{{ url_for('static',filename='images/image1.jpg')}}" id="im">
    <li>Toners</li>
    <img src="{{ url_for('static',filename='images/image2.jpg')}}" id="im">
    <li>Serums</li>
    <img src="{{url_for('static',filename='images/image3.jpg')}}" id="im">
    <li>Sunscreen</li>
    <img src="{{url_for('static',filename='images/image4.jpg')}}" id="im">
</p>

<p class="edit2">These products comprise of essential steps in a skin care routine that
    will help your skin flourish
</p>